body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.container {
    width: 940px;

    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.main-header {

    padding-bottom: 60px;

    color: #000000;

    background-color: #f3f7f9;
}

.top-line {
    width: 100%;

    margin-bottom: 46px;
}

.top-line,
.top-line input {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.top-line a {
    color: #ffffff;
}

.top-line input:hover,
.bookmarks-button:hover,
.basket-button:hover {
    color: #ffffff;
    background-color: #212a3a;
}

.top-line input:focus {
    color: #000000;
    background-color: #ffffff;
    border: none;
}

.top-line .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 0 auto;
    padding: 0;
}

.search-form {
    position: relative;
    margin-left: 220px;
}

.search-form input {
    /*display: block;*/
    /*position: relative;*/
    padding-left: 49px;
    padding-top: 11px;
    padding-bottom: 12px;

    width: 270px;
    border: none;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: top 11px left 17px;
}

.search-form input:hover {
    background-image: url("../img/icon-search-hover.svg");
    background-repeat: no-repeat;
    background-position: top 11px left 17px;
}

.search-form input:focus {
    background-image: url("../img/icon-search-focus.svg");
    background-repeat: no-repeat;
    background-position: top 11px left 17px;
}

.bookmarks-button {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding-left: 45px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 150px;
}

.bookmarks-button::before {
    content: "";
  
    position: absolute;
    top: 11px;
    left: 17px;
  
    width: 14px;
    height: 16px;
  
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  
    opacity: 0.3;
}

.bookmarks-button:hover::before,
.basket-button:hover::before,
.search-form:hover::after{
    opacity: 1;
}

.bookmarks-button:focus::before,
.bookmarks-button:active::before,
.basket-button:focus::before,
.basket-button:active::before {
    opacity: 0.5;
}

.search-form:hover::after {

}

.basket-button {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding-left: 50px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 150px;
}

.basket-button::before {
    content: "";
  
    position: absolute;
    top: 11px;
    left: 18px;
  
    width: 15px;
    height: 15px;
  
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  
    opacity: 0.3;
}

.bookmarks-button:focus,
.basket-button:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.technomart-logo {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 220px;
    top: 0;
    padding-top: 9px;
    padding-bottom: 8px;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;

    border-bottom: 5px solid #b52933;
}

.technomart-logo:hover {
    color: #ffffff;
    background-color: #ca2c37;
}

.technomart-logo:focus {
    color: #ffffff;
    background-color: #ba2732;
}

.basket-button-active {
    color: #ffffff;
    background-color: #ee3643;
}

.place-order {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    padding-top: 11px;
    padding-bottom: 12px;
    width: 150px;

    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #63a63e;
}

.place-order:hover {
    color: #ffffff;
    background-color: #5fbb2d;
}

.place-order:focus,
.place-order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-bottom: 40px;
}

.header-middle .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 940px;

    margin: 0;
    padding: 0;
}

.header-h1 {
    width: 300px;

    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;

    margin: 0;
    padding-left: 53px;
    padding-top: 3px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header-contacts-telephone {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 270px;

    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;

    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 71px;

    border: 3px solid #ffffff;
}

.header-contacts-telephone::before {
    content: "";
  
    position: absolute;
    top: 10px;
    left: 12px;
  
    width: 19px;
    height: 19px;
  
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contacts-adress {
    width: 300px;

    margin: 0;
    padding-top: 4px;
    padding-left: 9px; 

    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.site-navigation,
.user-navigation,
.promo-block-list,
.popular-products-list,
.catalog-list,
.services-list,
.services-cards,
.popular-manufacturers-list,
.footer-navigation,
.promo-block-navigation,
.footer-social ul,
.pagination-list,
.sorting-list,
.technomart-about-list {
    list-style: none;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    margin: 0;

    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.user-navigation a {
    display: block;

    margin: 0;
    margin-left: 10px;
    padding: 12px 24px;

    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;

    background-color: #ffffff;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.login-link a{
    position: relative;
    padding-left: 50px;
}

.login-link a::before {
    content: "";
  
    position: absolute;
    top: 14px;
    left: 16px;
  
    width: 20px;
    height: 17px;
  
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link a:hover::before {
    background-image: url("../img/icon-login-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link a:focus::before,
.login-link a:active::before  {
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;
    
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.site-navigation a {
    display: block;
    margin: 0;
    padding: 19px 31px;

    vertical-align: middle;
    color: #ffffff;
}

.site-navigation a:hover {
    color: #ffffff;

    background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

/*index.html main*/
.promo-block {
    margin-top: 59px;
    margin-bottom: 53px;
}

.promo-block-item {
    width: 300px;
    min-height: 123px;

    margin-bottom: 20px;
}

.promo-block-bottom .promo-block-item:last-child {
    margin-bottom: 0px;
}

.promo-block-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.promo-block-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.promo-block-item {
    position: relative;
}

.promo-block-item h3 {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    padding-top: 20px;
    padding-left: 23px;

    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.promo-block-item a {
    display: block;
    width: 135px;
    margin-left: 25px;
    padding-top: 11px;
    padding-bottom: 9px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.promo-block-item a:hover {
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.2);
}

.promo-block-item a:focus {
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);
}

.promo-block-top .promo-block-item:nth-child(1) {
    color: #ffffff;

    background-color: #ffbf47;
}

.promo-block-top .promo-block-item:nth-child(1)::before {
    content: "";
  
    position: absolute;
    top: 31px;
    left: 213px;
  
    width: 44px;
    height: 65px;
  
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.promo-block-top .promo-block-item:nth-child(2) {
    color: #ffffff;

    background-color: #3bbce3;
}

.promo-block-top .promo-block-item:nth-child(2)::before {
    content: "";
  
    position: absolute;
    top: 32px;
    left: 196px;
  
    width: 75px;
    height: 61px;
  
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.promo-block-top .promo-block-item:nth-child(3) {
    color: #ffffff;

    background-color: #dc91d8;
}

.promo-block-top .promo-block-item:nth-child(3)::before {
    content: "";
  
    position: absolute;
    top: 31px;
    left: 190px;
  
    width: 78px;
    height: 62px;
  
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.promo-block-bottom .promo-block-item:nth-child(1) {
    color: #ffffff;

    background-color: #8ed78f;
}

.promo-block-bottom .promo-block-item:nth-child(1)::before {
    content: "";
  
    position: absolute;
    top: 25px;
    left: 195px;
  
    width: 59px;
    height: 72px;
  
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.promo-block-bottom .promo-block-item:nth-child(2) {
    color: #ffffff;

    background-color: #ffc047;
}

.promo-block-bottom .promo-block-item:nth-child(2)::before {
    content: "";
  
    position: absolute;
    top: 30px;
    left: 191px;
  
    width: 78px;
    height: 63px;
  
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.promo-block-slider {
    position: relative;
    float: left;
    width: 620px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
  
    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
  
    display: inline-block;
    width: 0px;
    height: 135px;
    padding: 10px;
  
    border-radius: 50%;
    color: #ee3643;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
  
    position: absolute;
    top: 73px;
    left: 5px;
    z-index: 1;
  
    width: 10px;
    height: 10px;
  
    background: #ffffff;
  
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.slider-item {
    /*display: none;*/
    padding-bottom: 25px;
}

.slider-left {
    content: "";
  
    position: absolute;
    z-index: 1;
    top: 114px;
    left: 25px;
  
    width: 22px;
    height: 40px;
  
    background: none;
    border: 0;

    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.slider-right {
    content: "";
  
    position: absolute;
    z-index: 1;
    top: 114px;
    left: 578px;
  
    width: 22px;
    height: 40px;
  
    background: none;
    border: 0;

    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.slider-item:nth-child(2) {
    background-image: url("../img/promo_drills.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/promo_perforators.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-list .slider-item:nth-child(1) {
    display: none;
}

.slider-controls .slider-controls-item--2::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 6px;
    height: 6px;
    margin: -3px;
    background-color: #ee3643;
    border-radius: 50%;
}

.slider-item h3 {
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-left: 24px;

    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.slider-item p {
    margin: 0;
    padding: 0;
    padding-top: 1px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.slider-item a {
    margin-top: 123px;
    margin-left: 25px;
    padding-left: 49px;
    padding-right: 47px;
}

.button {
    display: inline-block;
    margin: 0px;
    padding-top: 11px;
    padding-right: 41px;
    padding-bottom: 9px;
    padding-left: 41px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 2px;
}

.button:hover {
    color: #ffffff;
    background-color: #ca2c37;
}

.button:focus,
.button:active {
    color: #ffffff;
    background-color: #ba2732;
}

.popular-products {
    margin-bottom: 21px;
}

.popular-products-top,
.popular-manufacturers-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    margin: 0px;
    padding: 0px;

    color: #ffffff;
    background-color: #f9f5f0;
}

.popular-products-top a {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.popular-products-top .button {
    margin-top: -2px;
    margin-right: 24px;
    padding-right: 55px;
    padding-left: 55px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.catalog-list {
    font-size: 0;
    margin: 0px auto;
    padding: 0;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;

    font-size: 16px;

    border: 1px solid #eaeaea;
}

.popular-products-item:nth-child(4n) {
    margin-right: 0px;
}

.catalog .catalog-item:nth-child(3n) {
    margin-right: 0px;
}

.catalog-item .flag,
.promo-block-item .flag {
    position: absolute;   
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
     z-index: 20;
}

.promo-block-item .flag {
    top: 0px;
    right: 0px;
}

.catalog-item .flag {
    top: -1px;
    right: -1px;
}

.catalog-item .flag-new,
.promo-block-item .flag-new {
    background:url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .addtocart-button,
.catalog-item .actions .addtobookmark-button{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}

.catalog-item .actions .addtocart-button{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .actions{
    display:none;
}

.catalog-item:hover .actions{
    display:block;
}

.catalog-image {
    width:216px;
    height:161px;
    margin: 0;
}

.popular-products h2 {
    margin: 0px;
    padding: 0px;

    padding-top: 29px;
    padding-left: 28px;
    padding-right: 24px;
    padding-bottom: 29px;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;


    min-height: 40px;
    padding: 0 26px;
    margin: 0px; 
    margin-top: 18px; 
}

.catalog-item p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
}

.catalog-oldprice {
    min-height: 20px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 0;
    padding-top: 11px;
    padding-left: 3px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.catalog-price {
    position: relative;
    width: 80px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 27px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.catalog-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.popular-manufacturers {
    margin-bottom: 65px;
}

.popular-manufacturers-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    margin-bottom: 20px;

    color: #ffffff;
    background-color: #f9f5f0;
}

.popular-manufacturers h2 {
    margin: 0px;
    padding: 0px;

    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 29px;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-manufacturers-top .button {
    margin-top: -2px;
    margin-right: 24px;
    padding-right: 69px;
    padding-left: 69px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    align-self: center;
}

.popular-manufacturers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    font-size: 0;
    margin: 0;
    padding: 0;
}

.popular-manufacturers-item {
    margin-bottom: 20px;
}

.popular-manufacturers-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 218px;
    height: 143px;

    border: 1px solid #eaeaea;
}

.popular-manufacturers-item img {

}

.popular-manufacturers-top,
.services {
    color: #000000;

    background-color: #f3f7f9;
}

.popular-manufacturers-item a:hover{
    -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
            box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5); 
}


.popular-manufacturers-item a:focus{
    opacity: 0.3;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
            box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5); 
}

.services {
    margin-bottom: 77px;
    padding-top: 65px;
}

.services h2{
    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.services p{
    margin: 0;
    margin-bottom: 67px;
    padding: 0;
    width: 400px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.services-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin: 0;
    padding: 0;
}
    
.services-list button {
    width: 240px;
    text-align: left;

    padding-top: 15px;
    padding-left: 21px;
    padding-bottom: 15px;
}

.services-list .services-list-button{
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #4e637c;

    background-color: #32425c;
}

.services-list .services-list-button:hover{
    color: #ffffff;

    background-color: #293449;
}

.services-list-button.active,
.services-list .services-list-button:focus,
.services-list .services-list-button:active {
    color: #32425c;

    background-color: #ffffff;
}

.vertical-line {
    margin-top: -45px;
    margin-left: -90px;
    padding: 0px 5px;
    background-image: url("../img/line.png");
    background-position: 100% 0px;
    background-repeat: no-repeat;
}

.services-cards {
    width: 620px;

    margin: 0;
    padding: 0;
}

.services-cards li {
    min-height: 285px;

    border-bottom: 1px solid rgba(0, 0, 0, 0)
}

.services-cards h4{
    margin: 0;
    margin-bottom: 25px; 
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.services-cards p {
    width: 300px;
    margin-bottom: 26px;
}

.services-cards li:nth-child(1) {
    
    background-image: url("../img/delivery.png");
    background-position: 99% 100%;
    background-repeat: no-repeat;
}

.services-cards li:nth-child(2) {
    display: none;
    background-image: url("../img/gaurantee.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.services-cards li:nth-child(3) {
    display: none;
    background-image: url("../img/credit.png");
    background-position: 99% 100%;
    background-repeat: no-repeat;
}

.services-cards-credit a {
    margin: 0;

    padding-left: 45px;
    padding-right: 45px;
}

.about-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 86px;
}

.technomart-about {
    width: 540px;
}

.technomart-about h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    padding-top: 2px;
}

.technomart-about-text p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    margin: 0;
    padding-top: 26px;
}

.technomart-about-list {
    margin: 0;
    padding: 0;
}

.technomart-about-list li{
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #000000;

    padding: 0;
    padding-top: 19px;
    padding-bottom: 1px;
    padding-left: 37px;
}

.technomart-about-list li:before{
    content: "";

    position: absolute;
    top: 28px;
    left: 0px;

    padding: 0px 12px;
    border: 1px solid #ee3643;
}

.technomart-about .button {
    margin-top: 35px;
}

.main-contacts {
    width: 300px;
}

.main-contacts h2{
    margin: 0;
    padding: 0;
    padding-top: 2px;

    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.main-contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    width: 200px;

    margin: 0;
    padding-top: 26px;
}

.main-contacts img {
    margin-top: 31px;
    margin-bottom: 36px;
}

.main-contacts a {
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;

}

.write-us-link {
    width: 300px;
}

/*catalog.html main*/

.login-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    margin: 0;
    padding: 0;

    width: 300px;
}

.profile-and-logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    color: #000000;
    background-color: #ffffff;
}

.header-username {
    display: block;
    position: relative;

    margin: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 47px;

    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;

    background-color: #ffffff;
}

.header-usernamefocus,
.header-username:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-username::before {
    content: "";
  
    position: absolute;
    top: 13px;
    left: 14px;
  
    width: 20px;
    height: 19px;
  
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-username:hover::before {
    background-image: url("../img/icon-user-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-username:focus::before,
.header-username:active::before  {
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.logout-link {
    content: "";
  
    position: absolute;
    top: 14px;
    left: 269px;
  
    width: 21px;
    height: 17px;
  
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.logout-link:hover {
    background-image: url("../img/icon-logout-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.logout-link:focus,
.logout-link:active  {
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.profile-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    margin-left: 18px;
}

.profile-links a {
    margin: 0;
    padding: 0;
    padding-top: 9px;
    

    font: inherit;
    text-decoration: underline;
    color: #32425c;
}

.profile-links a:hover {
    color: #ee3643;
}

.profile-links a:focus {
    color: rgba(238, 54, 67, 0.3);
}

.profile-links span {
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;

    margin-top: 16px;
    margin-left: 16px;
    margin-right: 13px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 19px;
}

.breadcrumbs li {
    position: relative;

    margin-right: 10px;
    padding-left: 32px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li:first-child {
    margin-right: 0px;
    padding-left: 23px;
}

.breadcrumbs-main::after {
    content: "";

    position: absolute;
    top: 3px;
    left: -2px;

    width: 15px;
    height: 12px;

    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 5px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a,
.breadcrumbs-current,
.filters h2, 
.sorting h2 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.filters {
    width: 220px;

    margin: 0;
    padding: 0;
}

.filters h2 {
    margin: 0;
    padding: 11px 0px 10px 18px;
    
    color: #000000;

    background-color: #f2f6f8;
}

.page-title {
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 28px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.catalog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 60px;
}

.filter legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    padding-top: 11px;

}

.filter fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-range {
    width: 220px;
}

.price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  
    width: 220px;
    height: 38px;
    margin-bottom: 26px;
}

.price-controls input {
    width: 96px;

    margin: 0;
    padding-left: 3px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-align: center;

    background-color: #f7f3ec;
    border: none;
}

.price-controls span {
    padding-top: 11px;
}

.range-controls {
    position: relative;

    margin-bottom: 9px;
    padding: 0px 20px;
    min-height: 80px;

    background-color: #f7f3ec;
}

.range-controls .scale {
    position: absolute;
    top: 50%;

    width: 180px;
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
    position: absolute;

    width: 80%;
    height: 2px;

    background-color: #00ca74;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.1);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.1);
    cursor: pointer;
}

.range-toggle-min {
    position: absolute;
    top: 39%;
    left: 20px;
}

.range-toggle-max {
    position: absolute;
    top: 39%;
    left: 73%;
}

.separator-line {
    margin: 0;
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background: #e5e5e5;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.filter-option {
    margin-bottom: 19px;
    padding-left: 35px;
    padding-top: 1px;
}

.filter-option:last-child {
    margin-bottom: 23px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -1px;

    width: 19px;
    height: 19px;

    border: 2px solid #b5b5b5;
    border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: -1px;
    left: -35px;

    width: 27px;
    height: 23px;
  
    background-color: #ffffff;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label:hover::before {
    border: 2px solid #c5c5c5;
}

.filter-input-checkbox + label:hover::after {
    background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;

    width: 17px;
    height: 17px;

    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -35px;

    width: 25px;
    height: 25px;
  
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label:hover::before {
    border-color: #b5b5b5;
}

.filter-input-radio + label:hover::after {
    background-image: url("../img/radio-on-hover.svg");
}

.filter-input:disabled {
    color: #b5b5b5;

    opacity: 0.3;
}

.filter-input:disabled + .label-disabled{
    color: #000000;

    opacity: 0.4;
}

.filter-button {
    margin-top: 56px;

    width: 140px;
    height: 38px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #e5e5e5;

    background-color: #ffffff;
}

.catalog-right-column {
    width: 700px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;

    color: #000000;

    background-color: #f2f6f8;
}

.sorting h2 {
    margin: 0;
    padding: 11px 0px 10px 20px;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    margin: 0;
    margin-right: 105px;
    padding: 0;
}

.sorting-list li {
    margin: 0;
    padding: 0;
    padding-left: 65px;
}

.sorting-list li:first-child {
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-right: 6px;
}

.sorting-list a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sorting-list a:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sorting-list a:focus,
.sorting-list a:active {
    color: #ee3643;
    border: none;
}

.sorting a{
    margin: 0;
    padding: 0;
}

.sort-low-to-high {
    position: absolute;
    top: 15px;
    right: 48px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #c5c5c5;
}

.sort-low-to-high:hover {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #231f20;
}

.sort-low-to-high:focus,
.sort-low-to-high:active {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ee3643;
}

.sort-high-to-low {
    position: absolute;
    top: 15px;
    right: 16px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #c5c5c5;
}

.sort-high-to-low:hover {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #231f20;
}

.sort-high-to-low:focus,
.sort-high-to-low:active {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #ee3643;
}

.catalog .catalog-list{
    margin-bottom: 52px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
}

.pagination-list li {
    margin-right: 9px;
}

.pagination-item {
    display: block;
    width: 38px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    margin-left: 1px;
    padding-top: 9px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 4px;

    background-color: #ffffff;
}

.pagination-item a {
color: #000000;
}

.pagination-item:last-child {
    display: block;
    width: 140px;
}

.pagination-item:hover {
    border: 1px solid #bdc6ca;
}

.pagination-item:focus {
    border: 1px solid #ee3643;
}

.pagination-item-current,
.pagination-item-current a {
    color: #ffffff;

    border: none;
    background-color: #ee3643;
}   

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
}

.perforators-about {
    width: 100%;
    color: #000000;

    background-color: #f2f6f8;
}

.perforators-about h2 {
    padding: 0;
    padding-top: 65px;
    margin: 0;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.perforators-about p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    margin: 0;
    margin-top: 26px;
    padding-bottom: 68px;
}

/*footer*/
.main-footer {
    margin: 0;
    padding: 0;
}

.footer-top-line .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    padding-bottom: 28px;
}

.footer-top-line, 
.footer-middle-line {
    color: #ffffff;

    background-color: #32425c; 
}

.footer-top-line p{
    width: 220px;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 15px;

    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer-top-line a {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    -webkit-box-align: end; 
        -ms-flex-align: end; 
            align-items: flex-end;

    margin: 0;
    padding: 0;

    width: 548px;
}

.footer-navigation li {
    margin: 0;
    padding: 0;
    padding-top: 37px;
}

.footer-middle-line {
    margin: 0;
    padding-bottom: 49px;
    padding-left: 5px;
}

.footer-middle-line .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.promo-block-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    margin: 0;
    padding: 0;

    width: 526px;
}

.promo-block-navigation li {
    margin: 0;
    padding: 0;
}

.footer-middle-line a{
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.footer-middle-line p{
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-top-line a:hover,
.footer-middle-line a:hover {
    text-decoration: underline;
}

.footer-top-line a:focus {
    color: rgba(255, 255, 255, 0.5);
}

.footer-middle-line a:focus {
    color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-line {
    font: inherit;
    font-weight: 300;
    color: #ffffff;

    padding-bottom: 30px;

    background-color: #293449; 
}

.footer-bottom-line .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-copyright {
    padding-top: 35px;
    padding-left: 1px;
    width: 230px;
}

.footer-feedback {
    padding-top: 32px;

    width: 184px;
}

.footer-developers {
    padding-top: 32px;
    width: 111px;
}

.footer-bottom-line p{
    margin: 0;
}

.footer-feedback a,
.footer-copyright a,
.footer-developers a{
    color: #ffd180;;
}

.footer-feedback a:hover,
.footer-copyright a:hover,
.footer-developers a:hover {
    text-decoration: underline;
}

.footer-feedback a:focus,
.footer-copyright a:focus,
.footer-developers a:focus {
    color: #ee3643;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 141px;
    margin: 0 auto;
    padding: 0;
    padding-top: 34px;
    padding-left: 41px;

    width: 370px;
}   

.social-button {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 43px;
    height: 43px;
    margin-right: 5px;

    color: #ffffff;
    background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

/* Всплывающая форма */

.modal {
    position: fixed;
  
    color: #000000;

    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
    
}

.modal-write-us {
    display: none; 
    top: 120px;
    left: 50%;

    width: 458px;
    margin-left: -310px;
    padding: 46px 81px 37px;

    border-top: 7px solid #ff5357;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

    z-index: 666;
}

.user-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.write-us-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    margin-bottom: 20px;
}

.write-us-form label{
    width: 220px;
    font-size: 18px;
    line-height: 18px;
    color: #000000;

    margin-bottom: 10px;
}

.write-us-form input[type="text"],
.write-us-form textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    padding: 8px 13px;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
  
    border: 2px solid #dee3e4;
}

.write-us-form input[type="text"] {
    width: 220px;
}

.write-us-form textarea {
    width: 460px;
    min-height: 114px;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
  
    width: 21px;
    height: 21px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 9px;
    right: -3px;

    width: 27px;
    height: 4px;

    background-color: #ee3643;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-send {
    border: none;
    width: 460px;
    margin-top: 54px;
}

.modal-map {
    top: 50%;
    left: 50%;

    display: none;
    width: 940px;
    height: 446px;
    margin-top: -280px;
    margin-left: -470px;

    -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);

            box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);

    z-index: 667;
}

.modal-map p {
  margin: 0;
}

.modal-cart-add {
    display: none; 
    top: 120px;
    left: 50%;

    width: 620px;
    margin-left: -310px;

    border-top: 7px solid #ff5357;
    -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
            box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);

    z-index: 666;
}

.modal-cart-add h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    
    margin: 0;
    padding: 65px 60px 68px 179px;
}

.modal-cart-add h2:before {
    content: "";

    position: absolute;
    top: 48px;
    left: 81px;

    width: 66px;
    height: 66px;

    background-image: url("../img/form-1.svg");
}

.modal-cart-add p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    margin-bottom: 20px;
}

.bottom-line-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 37px 80px;

    color: #000000;

    background-color: #f1f1f1;
}

.bottom-line-modal a {
    vertical-align: middle;
    padding: 0;
    padding-top: 11px;
    width: 220px;
}

.bottom-line-modal button {
    color: #000000;
    width: 220px;
    border: none;

    background-color: #ffffff;
}